<!DOCTYPE html>
<html lang="ru">
    <!--Меню-->
    {% include "templates/base_head.html" %}

    <body>
        <div id="main">
            <!--Шапка (фото) / Верхняя линия меню (background)-->
            {% include "templates/base_header.html" %}
            
            <!--Меню-->
            {% include "templates/base_menu.html" %}

            <!--Блок с информацией-->
            <div id="container">
                <h2>БЕЗВОЗВРАТНОЕ УДАЛЕНИЕ ДАННЫХ</h2>
                <p>

                    В настоящее время существует множество программ для безопасного удаления данных и форматирования носителя, но утверждение, что одна программа удаляет файлы лучше чем другая - миф. Удаляет информацию не сама программа, а зашитый в нее алгоритм перезаписи, а алгоритмы эти во всех этих утилитах используются одни и те же, просто в одной программе может иметься более широкий набор алгоритмов, нежели в другой.<br>
                    Метод очистки данных - это особый способ, с помощью которого программа уничтожения данных или уничтожитель файлов перезаписывает данные на жестком диске или другом устройстве хранения для того, чтобы хранящиеся данные были гарантированно уничтожены без возможности восстановления.
                </p>
                <p>
                    Использование любого метода стирания для стирания данных — это просто запись других данных поверх ваших предыдущих данных, так что информация заменяется чем-то бесполезным — каждый метод работает таким образом. Новые данные в основном случайные и на самом деле не содержат никакой вашей личной информации, поэтому используются единицы, нули и случайные символы. 
                </p>
                <p>
                    Некоторые исследователи считают, что существуют или могут появиться методы извлечения информации с жестких дисков, использующие остаточную намагниченность пластин, которые позволят восстановить данные даже после полной перезаписи каждого сектора на диске. Поэтому независимо друг от друга разные организации разработали собственные стандарты, гарантирующие невозможность восстановления не только существующими сегодня методами, но и теми, что появятся в будущем.
                </p>
                <p class="namelist">Список методов:</p>
                <ul class="list">
                    <li>Secure Erase (промышленный стандарт)</li>
                    <li>DoD 5220.22-M (Министерство обороны США)</li>
                    <li>NCSC-TG-025 (Агентство национальной безопасности США)</li>
                    <li>AFSSI-5020 (ВВС США)</li>
                    <li>AR 380-19 (Армия США)</li>
                    <li>NAVSO P-5239-26 (ВМС США)</li>
                    <li>РЦМП ЦСИТ ОПС-II (Канада)</li>
                    <li>HMG IS5 (Великобритания)</li>
                    <li>ISM 6.2.92 (Австралия)</li>
                    <li>NZSIT 402 (Новая Зеландия)</li>
                    <li>ВСИТР (Германия)</li>
                    <li>ГОСТ Р 50739-95 (Россия)</li>
                    <li>Гутман (Питер Гутманн)</li>
                    <li>Шнайер (Брюс Шнайер)</li>
                    <li>Пфитцнер (Рой Пфитцнер)</li>
                    <li>Заполнение случайными данными</li>
                    <li>Заполнение нулями</li>
                </ul>
                <p class="namelist">Советы по безопасности личных данных:</p>
                <ol class="list">
                    <li>
                        После зачистки файлов попробуйте восстановить их любой программой для восстановления удаленных данных, чтобы убедиться, что это невозможно.
                    </li>
                    <li>
                        Проверьте, чтобы информация, которую вы решили удалить навсегда, не осталась на других носителях, доступных посторонним.
                    </li>
                    <li>
                        При передаче конфиденциальных данных через интернет пользуйтесь шифровальными программами, иначе файлы могут остаться на стороннем сервере.
                    </li>
                </ol>
            </div>
            <!--Подвал-->
            {% include "templates/base_footer.html" %}

	        <!-- Кнопка "Наверх" -->
            <div id="scrollToTop" class="scroll-to-top">
                <i class="fas fa-chevron-up"></i>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="../static/js/menu.js"></script>
        <script src="../static/js/up_button.js"></script>
    </body>
</html>
