<!DOCTYPE html>
<html lang="ru">
    <!--Head-->
    {% include "templates/base_head.html" %}
    
    <body>
        <div id="main">
            <!--Шапка (Фото) / Верхняя линия меню (background)-->
            {% include "templates/base_header.html" %}

            <!--Блок с информацией-->
            <div id="container">
                <h1>Адам Лэнза</h1>
                <img src="../static/images/adam.jpg" class="photo">
                <p>
                    14 декабря 2012 г. Адам Лэнза осуществил массовое убийство в начальной школе «Сэнди-Хук», погибли 27 человек. Он покончил с собой, не оставив предсмертной записки. Некоторые сведения о мотиве, подтолкнувшем Адама к бойне, вероятно, могли находиться на компьютере, который 20-летний затворник использовал в качестве одного из основных способов контакта с внешним миром.
                </p>
                <p>
                    Лэнза попытался уничтожить жесткий диск компьютера с помощью молотка и отвертки — на фото выше можно оценить состояние диска. В ФБР несколько месяцев исследовали 500-гигабайтный Seagate Barracuda, но не получили никакой информации.
                </p>
                <p>
                    Означает ли это, что «режим параноика» включается зря? Некоторые исследования показывают, что при желании можно восстановить даже критически поврежденные данные. ФБР обнаружило в доме Лэнза множество фотографий мертвых тел, видео суицидов. Также был изучен обширный цифровой след преступника, который вел на форумы с обсуждением педофилии. Психологи смогли составить полный и яркий портрет. Тратить ресурсы на извлечение дополнительных сведений уже не имело смысла.
                </p>
                <div class="image-with-caption">
                    <img src="../static/images/30z.jpg" class="captioned-photo">
                    <div class="caption">Рис. 1. Пластина жесткого диска с нанесенной магнитной суспензией при 30-кратном увеличении</div>
                </div>
                <div class="image-with-caption">
                    <img src="../static/images/800z.jpg" class="captioned-photo">
                    <div class="caption">Рис. 2. Участок жесткого диска в районе сервометок при 800-кратном увеличении</div>
                </div>
                <p>
                    Но представим, что на диске находится сверхсекретная информация, доступ к которой — вопрос жизни и смерти. Известно, что, размазав тонким слоем по поверхности жесткого диска коллоидную суспензию частиц Fe<sub>2</sub>O<sub>2</sub>, в отраженном свете мы увидим магнитный контраст, с помощью которого можно оценить наличие или отсутствие информации.
                </p>
                
                <p>
                    При 800-кратном увеличении с помощью оптического микроскопа четко различаются отдельные сервометки, несколько хуже выделяются дорожки с данными, записанные более слабым полем.
                </p>
                
                <p>
                    Несмотря на повреждения фрагментов дорожек записи, делающие невозможным считывание при помощи дисковода, физически информация сохранилась, что обеспечивает возможность ее восстановления. На HDD-дисках мы можем воспользоваться методом считывания остаточной намагниченности.
                </p>
                
                <p>
                    Таким образом, вопрос восстановления данных — это вопрос наличия необходимого оборудования (и большого желания). При наличии магнитно-силового микроскопа можно исследовать жесткий диск на субмикронном уровне. Современная наука знает примеры куда более специфичных исследований, в том числе с применением атомно-силовой микроскопии, используемой для определения рельефа поверхности с разрешением от десятков ангстрем вплоть до атомарного.
                </p>
            </div>

            <!--Подвал-->
            {% include "templates/base_footer.html" %}
           
            <!-- Кнопка "Наверх" -->
            <div id="scrollToTop" class="scroll-to-top">
                <i class="fas fa-chevron-up"></i>
            </div>
        </div>
        
        <script src="../static/js/up_button.js"></script>
    </body>
</html>
