<!DOCTYPE html>
<html lang="ru">
    <!--Head-->
    {% include "templates/base_head.html" %}

    <body>
        <script type="text/javascript" src=" https://code.jquery.com/jquery-1.11.2.js "></script>
        <script src="js/menu.js"></script>
        <div id="main">
            <!--Шапка (Фото) / Верхняя линия меню (background)-->
            {% include "templates/base_header.html" %}
            
            <!--Блок с информацией-->
            <div id="container">
                <h1>CVX-2</h1>
                <img src="../static/images/cvx-2.jpg" class="photo">
                <p>
                    1 февраля 2003 г. шаттл «Колумбия» разрушился при входе в плотные слои атмосферы из-за повреждения крыла куском теплоизоляционной пены. В грузовом отсеке корабль нес 340-мегабайтный жесткий диск, на котором была записана информация об эксперименте CVX-2 (Critical Viscosity of Xenon), в ходе которого изучалось поведения ксенона в условиях микрогравитации.
                </p>
                <p>
                    Проект CVX-2 длился в общей сложности 20 лет, и результаты финального космического эксперимента представляли большую научную ценность. По счастливому стечению обстоятельств жесткий диск не был уничтожен в катастрофе — он упал в озеро, откуда его извлекла поисковая группа. NASA отправили диск в компанию Kroll Ontrack, которая специализируется на восстановлении компьютерных данных
                </p>
                <p>
                    Диск сильно пострадал: расплавились не только металлические и пластиковые элементы, но и крышка, защищающая его от грязи и пыли. Однако алюминиевые пластины, где, собственно, и хранится информация, не разрушились. Их очистили химическим раствором, а затем поместили в другой жесткий диск — точную копию поврежденной модели. Всего за два дня удалось восстановить 99 % данных.
                </p>
                <p>
                    Химические реагенты очень помогают при работе с поврежденными носителями. Прежде чем пытаться что-то восстановить, необходимо как можно ближе подобраться к источнику информации. Реагенты также используются для восстановления физически стертой информации, например, когда речь идет о работе с серийными номерами. Химическое травление является наиболее распространенным и успешным методом восстановления серийных номеров на поверхности металла.
                </p>
            </div>
            <!--Подвал-->
            {% include "templates/base_footer.html" %}

             <!-- Кнопка "Наверх" -->
            <div id="scrollToTop" class="scroll-to-top">
                <i class="fas fa-chevron-up"></i>
            </div>
        </div>
        
        <script src="../static/js/up_button.js"></script>
    </body>
</html>
