<!DOCTYPE html>
<html lang="ru">
    <!--Head-->
    {% include "templates/base_head.html" %}

    <body>
        <div id="main">
            <!--Шапка (фото) / Верхняя линия меню (background)-->
            {% include "templates/base_header.html" %}
            
            <!--Меню-->
            {% include "templates/base_menu.html" %}

            <!--Блок с информацией-->
            <div id="container">
                <h2>ПРЕДИСЛОВИЕ</h2>
                    <p>
                        На этом информационном сайте описаны методы восстановления данных и безвозвратное их удаление. На других страницах сайта, вы сможете найти информаци о методах и программах восстановления и безвозвратного удаления файлов, об историях людей и т.д. Термины в тексте будут кратко объяснены для лучшего понятия текста пользователем сайта. Если во время чтения Вам будут неясны какие-то термины, то вы всегда можете зайти и посмотреть их полное значения в глоссарии, который обозначен в обычном меню как иконка словаря, а в мобильном меню под разделом "Глоссарий".
                    </p>
                    <h2>ВОССТАНОВЛЕНИЕ ДАННЫХ</h2>
                    <p>
                        При удалении данных с компьютера, операционная система Windows меняет атрибут файла, помечая файл как удаленный. При этом, содержание файла физически находится на том же месте жесткого диска, до того момента, когда на ячейку не будет записать другой файл. Поэтому этот файл скорей всего получиться восстановить с помощью специализированной программы, например, R-Studio, Recuva и т. д.
                    </p>
                    <p>
                        Если на место размещения удаленного файла, через определенное время в процессе работы компьютера, была записана другая информация, то восстановить такой файл уже не получится, так как файл был перезаписан другими данными. В лучшем случае, сохранятся отдельные фрагменты файла, находящиеся в другом месте диска, если файл был фрагментирован.
                    </p>
                    <p>
                        Восстановление данных - процедура извлечения информации с запоминающего устройства в случае, когда она не может быть прочитана обычным способом. Восстановление может осуществляться с любого компьютерного носителя, включая CD, DVD, HDD, флеш-память и т.д. Как правило, восстановлению подлежат данные, представляющие определённую ценность. Необходимость в восстановлении может возникнуть, когда носитель имеет аппаратные или программные повреждения, или же - когда файлы данных были лишь отмечены в качестве удалённых, но продолжают храниться до того, как будут перезаписаны.
                    </p>
                    <p>
                        Так при физическом повреждении, специалисты могут восстановить семейные фотографии с поврежденного смартфона или данные с жесткого диска, уничтоженного преступником в попытке избавиться от доказательств, а также помогут восстановить важные документы с повреждённого диска. Процесс восстановления данных весьма сложен, чтобы операция завершилась успешно, необходимо детальное понимание всех технических тонкостей современных накопителей, операционных и файловых систем. Обязательное условие — хорошо оснащенная лаборатория с контролируемыми условиями и опытными, прошедшими обучение техническими специалистами. Без этого многократно возрастают шансы окончательно потерять данные или усугубить ситуацию с техническим состоянием носителей.
                    </p>
                    <h2>ПРИЧИНЫ ПОТЕРИ ДАННЫХ</h2>
                    <p>
                        Среди распространенных физических причин потери данных — отключение питания или скачок напряжения, перегрев, электростатический («статический») разряд и любые физические повреждения устройства хранения или носителя, но также часто случаются и по вине самого пользователя, к примеру, случайное удаление важных файлов, или случайных запуск вируса на компьютер.
                    </p>
                    <p class="namelist">
                        Потерю данных можно выделить на две основные группы:
                    </p>
                    <p>
                        Логические ошибки - связаны с потерей файлов. Обычно происходят при невнимательности пользователя, к примеру: случайное удаление нужного файла, заражение компьютера вирусом. Восстановить потеряный файл не составит особого труда, если ячейка где он хранился не перезаписывалась. Это можно сделать с помощью специальных программ, например: Recuva, Hetman. Время восстановления удалённых файлов при этом будет зависеть от выбранного места и мощности компьютера.
                    </p>
                    <p>
                        Физические повреждения - связано с повреждение накопителя или его отказом работать. Причиной такой поломки может стать воздействие на носитей высоких температур, попадание воды. В таких ситуациях могут помочь только специалисты, которые знаю как найти проблему прекращения работы носителя. Возможность восстановления данных с носителя зависит от тяжести её повреждений, главное чтобы объект с данными остался цел и не повреждён, иначе данные врядли получится восстановить.
                    </p>
                    <h2>БЕЗВОЗВРАТНОЕ УДАЛЕНИЕ ФАЙЛОВ</h2>
                    <p>
                        Безвозвратное удаление данных необходимо при продаже компьютера, для того, чтобы новый владелец не получил никакой конфиденциальной информации, касающейся прежнего владельца ПК. В других случаях, когда к компьютеру имеют доступ посторонние лица, также есть вероятность утечки, казалось бы, удаленных конфиденциальных данных.
                        Для надежного безвозвратного удаления файлов используются специальные программы, стирающая информацию с носителей. Данная программа перезаписывает участки диска, на которых находились удаленные файлы. После этого, восстановить удаленные данные программно будет скорей всего невозможно.
                    </p>
                    <p>
                        Windows при удалении файлов, не перезаписыват данные на диске потому что это не имеет смысла.<br>
                        Обозначить место, занимаемое файлом как пустое - это доля секунды. А перезаписать данные на этом месте - это фактически перезаписать этот файл. Это во первых долго, если файл большой. Во вторых лишний цикл записи и износ оборудования. А в третьих бессмысленно - так как это место помечено пустым и скоро на него будут записаны новые данные.
                    </p>
            </div>
            <!--Подвал-->
            {% include "templates/base_footer.html" %}

	        <!-- Кнопка "Наверх" -->
            <div id="scrollToTop" class="scroll-to-top">
                <i class="fas fa-chevron-up"></i>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="../static/js/menu.js"></script>
        <script src="../static/js/up_button.js"></script>
    </body>
</html>
