<!DOCTYPE html>
<html lang="ru">
    <!--Head-->
    {% include "templates/base_head.html" %}

    <body>
        <div id="main">
            <!--Шапка (фото) / Верхняя линия меню (background)-->
            {% include "templates/base_header.html" %}
            
            <!--Блок с информацией-->
            <div id="container">
                <h1>ФИЗИЧЕСКОЕ ВОССТАНОВЛЕНИЕ ДАННЫХ</h1>
                <p>
                    Физическое восстановление данных используется, когда программное восстановление уже не в силах восстановить файлы, к примеру: повреждение носителя, имеющимся носителем с данными без доступа к нему (например: стоит пароль).<br>
                    Тип физического восстановления данных зависит от самого типа носителя, и в каком виде в нём хранятся данные. Также это зависит от тяжести повреждений носителя и важность файлов на нём. Бывает что в носителях сохраняются данные даже после тяжких повреждений, к примеру: попадание в огонь или воду, падение с больших высот, сильные внешние повреждения и т.д.<br>
                </p>
                <br>
                <p class="namelist">
                    Рассмотрим физическое восстанавление данных на примере HDD:
                </p>
                <p>
                    Основными узлами жесткого диска выступают стеклянные или алюминиевые жесткие пластины (магнитные диски), покрытые слоем специального материала, предназначенные непосредственно для хранения данных. Запись и чтение любой информации происходит посредством специальных считывающих головок, которые при работе не касаются пластин, за счет чего увеличивается ресурс долговечности жесткого диска. А администрирование и полный контроль над всеми основными функциями жесткого диска осуществляет плата электронного управления.<br>
                    Совокупность перечисленных основных элементов позволяет диску хранить, записывать и считывать любые данные, по желанию пользователя, долгое время.
                </p>
                <p>
                    1 способ - «замена носителя». Этот способ подразумевает замена объекта с данными нового носителя, объектом с данными другого носителя, но оба носители должны быть той же модели. Таким способом можно восстановить до 100% информации с повреждённого носителя. Как это произошло с диском проекта CVX-2, в котором после отчистки диска (объекта с данными), его поместили в другой жёсткий диск - точную копию повреждённой модели и всёго за 2 дня удалось восстановить 99% данных с повреждённого диска.
                <p>
                    2 способ - «замена детали носителя». Некоторые части (далеко не все) служебной информации могут быть взяты от аналогичных накопителей и записаны в неисправный при помощи специального оборудования, которым, как правило, располагают сервисные центры, занимающиеся восстановлением данных на профессиональном уровне. Как показывает практика, попытки неквалифицированного вмешательства в структуру служебной информации накопителя, как не прискорбно, влекут за собой окончательную и безвозвратную потерю данных. К примеру: выходит из строя плата контроллера жёсткого диска и процедура восстановления данных заканчивается на её замене. Однако встречаются случаи, когда в результате пробоя выходит из строя электроника гермоблока (основание ЖД), в этом случае необходима замена БМГ (блока магнитных головок), что по сути своей является трудоёмкой и дорогостоящей процедурой.
                </p>
                <p>
                    3 способ - «анализ остаточной намагниченности дорожек». Передовые лаборатории могут работать даже с разрушенными дисками, самостоятельно сканируя отдельные блоки записей. Все части диска аккуратно склеивают и тщательно выравнивают. Затем наступает этап визуального снятия информации либо анализа остаточной намагниченности дорожек. Это очень кропотливая работа, требующая больших финансовых и временных затрат. Весь вопрос в мотивации. Если вам очень нужно восстановить данные, вы, вероятно, сможете, если конечно вам хватит денег на данную процедуру.
                </p>
                <p class="namelist">
                    Существуют повреждения, после которых никакая лаборатория не сможет получить данные с этого носителя, среди них:
                </p>
                <ul class="list">
                    <li>Полное механическое уничтожение — разрушение диска до мельчайших частиц</li>
                    <li>Воздействие мощного магнитного поля</li>
                    <li>Воздействие кислоты</li>
                </ul>
            </div>
            <!--Подвал-->
            {% include "templates/base_footer.html" %}

	        <!-- Кнопка "Наверх" -->
            <div id="scrollToTop" class="scroll-to-top">
                <i class="fas fa-chevron-up"></i>
            </div>
        </div>
    
        <script src="../static/js/up_button.js"></script>
    </body>
</html>
