<!DOCTYPE html>
<html lang="ru">
    <!--Head-->
    {% include "templates/base_head.html" %}

    <body>
        <div id="main">
            <!--Шапка (фото) / Верхняя линия меню (background)-->
            {% include "templates/base_header.html" %}
            
            <!--Блок с информацией (HOME)-->
            <div id="container">
                <h1>ПРОГРАММНОЕ ВОССТАНОВЛЕНИЕ ДАННЫХ</h1>
                <p>
                    Каждый только что удаленный файл все еще находится на жестком диске, но Windows его больше не видит. Для восстановления необходимо просмотреть загрузочный сектор раздела (Partition Boot Sector). В нем содержится вся информация о строении раздела, например размер секторов (как правило, 512 байт) и количество секторов в одном кластере.
                </p>
                <p>
                    В разделе NTFS размером более 2 Гбайт в одном кластере содержится четыре сектора. На примере показан небольшой раздел размером 500 Мбайт, у которого каждому сектору соответствует один кластер.
                </p>
                <p>
                    Наряду с этой информацией необходим также полсмотр таблицы файлов (Master File Table, MFT), которая тоже находится в Partition Boot Sector. Она представляет собой список всех файлов, находящихся в разделе, в ней содержатся все файловые атрибуты и информация о том, в каких секторах винчестера находятся сами файлы. Те из них, что по размерам менее 1500 байт, записываются прямо в MFT. Для файлов большего объема в MFT есть ссылки на адреса секторов, в которых лежат данные.
                </p>
                <p>

                    В начале MFT находятся другие записи, например так называемая битовая карта распределения кластеров (Cluster Bitmap), показывающая все используемые кластеры, а также файл плохих кластеров (Bad Cluster File), регистрирующий все кластеры с ошибками. Только с 17-й записи начинается собственно описание файлов. Обычно таблица MFT в Windows не видна. Но есть дисковые редакторы, например WinHex, которые показывают содержание MFT в шестнадцатеричных кодах.
                </p>
                <p>
                    На картинке (см.ниже) вы видите MFT-запись удаленного файла в HEX-коде. Для программы восстановления данных достаточно этой информации, чтобы восстановить файл.
                </p>
                <img src="images/26010702.png">
                <p class="namelist">
                    Значения облайстей в Master File Table:
                </p>
                <ol>
                    <li>Эти четыре байта (File Identifier) обозначают начало нового файла. Байты до следующего File Identifier содержат всю информацию о файле.</li>
                    <li>Эти два байта зарезервированы для флагов, которые дают справку о состоянии файла. Если их значение равно 0, как в нашем случае, это значит, что файл удален.</li>
                    <li>Из этих 16 байт программа восстановления данных узнает, когда файл был создан и в последний раз подвергался изменениям.</li>
                    <li>Эта ссылка на каталог, в котором находится файл (Parent Directory Record Number). С ее помощью программа-спасатель может включить файл в структуру каталогов.</li>
                    <li>Здесь появляется имя файла, в нашем случае Mу Prеsеntаtiоn.pрt.</li>
                    <li>Если эти два байта имеют значе ние 0, то файл не сжат.</li>
                    <li>Эти восемь байт сообщают размер файла,в нашем случае 56 320 байт.</li>
                    <li>Важнейшая часть записи MFT, называющаяся Data runs, показывает, где фактически находятся данные.</li>
                </ol>
                <p class="namelist">
                    Местоположения данных в Master File Table:
                </p>
                <ol>
                    <li>Первый байт сообщает, сколько байт необходимо для адреса первого кластера (3 байта) и отображения длины файла во всех кластерах (1 байт).</li>
                    <li>Второй байт содержит длину файла, в нашем примере — 110 кластеров.</li>
                    <li>Следующие три байта означают, что файл начинается с кластера 312 555.</li>
                    <li>Последний байт имеет значение 0. Это означает, что файл не фрагментирован. Следовательно, нет никаких дополнительных записей Data runs.</li>
                </ol>
                <p>
                    Теперь имеется есть вся информация, необходимая для успешного восстановления удаленного файла.
                </p>
                <p class="namelist">
                    Шаги восстановления:
                </p>
                <ol>
                    <li>Обращение к кластеру 312 555.</li>
                    <li>Считывание данных в следующих 110 кластерах.</li>
                    <li>Сохранение их под именем Mу Prеsеntаtiоn.pрt</li>
                </ol>
            </div>
            <!--Подвал-->
            {% include "templates/base_footer.html" %}

	        <!-- Кнопка "Наверх" -->
            <div id="scrollToTop" class="scroll-to-top">
                <i class="fas fa-chevron-up"></i>
            </div>
        </div>
        
        <script src="../static/js/up_button.js"></script>
    </body>
</html>
